body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.page-header {
  padding: 15px;
}
.subtitle {
  color: coral;
  display: flex;
}
.gif {
  transition: all 0.5s ease-in-out;
}
.gif:hover {
  opacity: 0.7;
  background: coral;
  transform: scale(0.95);
}
.loading {
  display: flex;
  justify-content: center;
}
